@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');



* {
  margin: 0;
  padding: 0;
  font-family:"Roboto",sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



a {
  text-decoration: none;

}

body {
  background-color: #eeeeee;
  overflow-x: hidden;
}

.disablebtn {
  cursor: not-allowed;
  background-color: rgb(237, 237, 237);
}

#customM {
  font-size: 3rem;
}
.disablebtn{ 
  background-color: rgb(237,237,237) !important;
  cursor: not-allowed !important;
}

