@import'static';
nav {
    width: 100%;
    height: 90px;
    background-color: rgb(219, 219, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13.33vmax;
    position: fixed;
    top: 0%;
    z-index: 60;

    >h2 {
        font-size: 2rem;

    }

    >div {
        display: flex;
        align-items: center;
        gap: 2rem;

        a {
            color: #161616;
            font-weight: 500;
            transition: all 0.1s;
            letter-spacing: 1px;
        }
        a:hover{ 
            color:#f26440;
            border-bottom: 3px solid rgb(79, 132, 248);
        }

    }

    >a>button {
        border: 1px solid #16161698;
        padding: 0.5rem 2rem;
        background-color: white;
        cursor: pointer;
        letter-spacing: 1px;
        font-weight: 500;
        color: #161616;
        transition: all 0.3s;

    }
    >a>button:hover {
        background-color:#161616;
        color: white;
    }

}

.navbtn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color:#292b46;
    font-size: 1.4rem;
    display: none;
    z-index: 150;
    position: fixed; 
    top: 1.2rem;
    right: 1rem;
    display: none;
}
.navbtnclose{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color:#292b46;
    font-size: 1.4rem;
    display: none;
    z-index: 150;
    position: fixed; 
    top: 1.2rem;
    right: 1rem;
    display: none;
    transition:all 0.3s;
    animation: mymove 0.4s 1;
}
@keyframes mymove {
  50% {transform: rotate(180deg);}
}





.navmin {
    transition: all 0.5s;
    transform: translateX(-200%);
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 243, 255);
    padding: 5vmax;
    position: fixed;
    top: 0%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    >h2 {
        font-size: 2rem;
        color:$color5;
    }

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        a {
            color: $color5;
            letter-spacing: 1px;
            font-weight: 500;
            transition: all 0.3s;

        }
        a:hover {
            border-bottom: 2px solid #f26440;
             color: #f26440;
             
         }
    }

    >a>button {
        border: 1px solid #16161698;
        padding: 0.5rem 2rem;
        background-color: #eeeeee;
        cursor: pointer;
        color: #16161698;
        letter-spacing: 1px;
        font-weight: 500;
        transition: 0.5s;

        &:hover {
            background-color: #16161698;
            color: white;
          
        }

    }
}

.navmincall {
    transform: translateX(0);
}
